__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.pytest_cache/
htmlcov/
.cache
.DS_Store
*.log
alembic/versions/*.pyc
cloud_sql_proxy*
*.tar.gz
.env.development
.env.example
sgd-colca-service-account.json